<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Flower Classification</a>
    </nav>
    <div class="container">
        <h1>FLASK APP DEVELOPEMENT</h1>
        <h2>Please enter your flower measurements below:</h2>

        <form method="POST">
            {# This hidden_tag is a CSRF security feature.#} {{ form.hidden_tag() }} {{ form.sep_len.label }} {{form.sep_len}}
            <br /> {{ form.sep_wid.label }} {{form.sep_wid}} <br /> {{ form.pet_len.label }} {{form.pet_len}} <br /> {{ form.pet_wid.label }} {{form.pet_wid}} <br /> {{ form.submit() }}
        </form>
    </div>
</body>

</html>